{% extends "blog/base.html" %}

{% block content %}

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}
<div class= "text-center"> 
<form class= "form-signin" method="post" action="{% url 'login' %}">
{% csrf_token %}

<tr>
<label for="inputEmail" class="sr-only">Email address</label>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</tr>

<tr>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</tr>
</table><table>


<input class="form-control mr-sm-2" style="color:#000000;" type="submit" value="Login" />

<input type="hidden" name="next" value="{{ next }}" />
</form>

<p><b><a class="form-control mr-sm-2" href="{% url 'password_reset' %}" style="color:#000000;" >Perdeu a senha?</a></b></p>
</div>
  
  {% endblock %}


           <form action="{%url 'search' %}" method="get" class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" name="q" type="text" placeholder="Pesquisa...">
            <input id="f" class="btn my-1 my-sm-0" type="submit" value="Pesquisar"  style="color:#ffbecf" >
          </form>