<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    
  </head>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

<title> Blog </title>
{% load static %}
<center><div id="cabecario">
  
    <div class="row">
      
      <div class="col-4">
        <img  class = "b" src="{% static 'f.png' %}" />
        <img  class = "b" src="{% static 't.png' %}" />
        <center><a>
            <img  href = "" id = "a" src="{% static 'img1.png' %}" /></a></center>
            
            
      </div>

     </div>



    <div class="row pt-3"></div>
    <div class="col-md-9"></div>
    <hr style="color:#000000; height: 0px; margin-top: 0px; margin-bottom: 0px;  "/>
     <center><div class="topnav" id="aa">

</div>


       <div class="well">
         <div class="btn-toolbar">
         <div class="btn-group">
            <a href="#" class="btn btn-white dropdown-toggle" data-toggle="dropdown" ><img class = "figure1" src = "{% static 'img2.png' %}" >
              Receitas <span class="caret"></span>
           </a>
           <ul class="dropdown-menu">
            <li><a href = "{% url 'category-detail' 1 %}" style="color:#000000;">Receitas Veganas</a></li>
               <li><a href = "{% url 'category-detail' 2 %}" style="color:#000000;">Receitas de Bolo</a></li>
               <li><a href="{% url 'category-detail' 3 %}" style="color:#000000;">Receitas Salgadas</a></li>
               <li><a href="{% url 'category-detail' 5 %}" style="color:#000000;">Receitas de Vó</a></li>
               <li><a href="{% url 'category-detail' 7 %}" style="color:#000000;">Receitas de Tortas</a></li>
               <li><a href="{% url 'category-detail' 6 %}" style="color:#000000;">Receitas Extras</a></li>
           </ul>
         </div>  

                  <div class="btn-group">
            <a href="#" class="btn btn-white dropdown-toggle" data-toggle="dropdown"><img class = "figure1" src = "{% static 'img3.png' %}"/>
              Gastronomia <span class="caret"></span>
           </a>
           <ul class="dropdown-menu">
               <li><a href="{% url 'category-detail' 8 %}" style="color:#000000;">Utensílios de Cozinha</a></li>
               <li><a href="{% url 'category-detail' 10 %}" style="color:#000000;">Química na cozinha</a></li>
               <li><a href="{% url 'category-detail' 9 %}" style="color:#000000;">Roteiros Gastronômico</a></li>
           </ul>
         </div>         

         <div class="btn-group">
            <a href="#" class="btn btn-white dropdown-toggle" data-toggle="dropdown"><img class = "figure1" src = "{% static 'img4.png' %}"/>
              Viagem <span class="caret"></span>
           </a>
           <ul class="dropdown-menu">
               <li><a href="{% url 'category-detail' 11 %}" style="color:#000000;">Amsterdã</a></li>
               <li><a href="{% url 'category-detail' 12 %}" style="color:#000000;">Rússia</a></li>
               <li><a href="{% url 'category-detail' 13 %}" style="color:#000000;">Islândia</a></li>
           </ul>
         </div>  

                  <b><a href="{% url 'post-detail' 44 %}" class="btn btn-white dropdown-toggle" ><img class = "figure1" src = "{% static 'img5.png' %}"/>
          SOBRE
        </a></b>

 <b><a href="{% url 'login'%}" class="btn btn-white dropdown-toggle"><img class = "figure1" src = "{% static 'img6.png' %}"/>
             LOGIN
           </a></b>
           <form action="{%url 'search' %}" method="get" class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" name="q" type="text" placeholder="Pesquisa...">
            <input id="f" class="btn my-1 my-sm-0" type="submit" value="Pesquisar"  style="color:#ffbecf" >
          </form>



</center>
<hr style="color:#000000; height: 0px; margin-top: 0px; margin-bottom: 0px;  "/>


        {% block content %}
        {% endblock %}
<hr style="color:#000000; height: 0px; margin-top: 0px; margin-bottom: 0px;  "/>

        </div>
        </body>
        <style>

            .jumbotron {
                background-image : url();
            }
            .blog{
                font-size : 24px;
                font-family : "long";
                margin-left : 25px;
    
            }
            .p-2 {
                font-size : 22px;
                font-family : "long";
                color : #ad000a;
            }
            .nav-scroller {
                margin-left : 28px;
                margin-right : 28px;
                color : #ad000a ;
            }
            .btn {
                margin-right : 28px;
                margin-left : 28px;
                font-size : 24px;
                font-family : "long";
            }
            .blog-header-logo {
                
            }

            #a {
              margin: 0% 0% 0% 125%
          }
        
          #cabecario{
            margin: 0% 0% 50% 0%;
              background-color: #ffbecf
          }
          .topnav {
      background-color: #ffbecf;
      overflow: hidden;
      float:center;

    }

      .topnav a {
        float: left;
        color: #000000;
        text-align: right;
        padding: 9px 35px;
        text-decoration: none;
        font-size: 20px;
        margin: 0% 0% 0% 0%;
         }

      .topnav a:hover {
        background-color: #ffbecf;
        color: black;}

       .topnav a.active {
        background-color: #ffbecf;
        color: black; }

       .btn{
        font-family: arial;
        font-size:14px;
        font-weight:700;
        text-transform: uppercase;
        border:none;
        padding:10px;
        cursor: pointer;
        display:inline-block;
        text-decoration: none;}

       .btn-green{
       background-color:#ffbecf;
       box-shadow:0 5px 0 #ddd;}

       .figure1{
        width: 50px;
        height: 50px;
       }

      .b{
        width: 30px;
        height: 30px;
        float: left;
      }
      .btn{
          background-color: #ffbecf

      }

      #f{
        background-color:#ffffff;
      }
      .z{
        margin-top: 0px;
        width: 400px;
        height: 300px;
      }

        </style>
    </html>