
{% extends "blog/base.html" %}


{% block content %}
	<h3 class="col-sm">{{ object.title }}</h3>
	Postado Por: {{ object.author }} |
	Categoria: {{ object.category }}
	<center><img src="{{ object.banner.url }}" class="img-fluid" ></center>
	<p>{{ object.text|safe }}</p>

			{% for comment in post.comments.all %}
				<p>
					<b>{{ comment.author }}</b>
					{{ comment.text }}
					{{ comment.created_at }}
				</p>
			{% endfor %}
		
			<form method="POST" action="{% url 'comment' object.id %}">
				{% csrf_token %}
				<textarea name="text">
				</textarea>

				<input type="submit " value="Comentar">
				</form>
		
	

	
{% endblock %}

