{% extends "blog/base.html" %}
{% block content %}

        <div id = "posts">
         
<div class="row" style="  margin-right: 2px; margin-left: 2px;  ">
             <div >

              {% for post in object_list %}
              {% include "blog/post_card.html" %}
              {% endfor %}
        </div>   
      </div>  

    {% endblock %}