
{% load static %}

         
<div class="row" style="  margin-right: 2px; margin-left: 2px;  ">
             <div class="col-sm">
                <div class="card mb-3 shadow-sm">
                          <div class="card border-light text-center" style="max-width: 350px;">

                 
                  <div class="card-body"> 

                       <center> <img src = "{{ post.banner.url }}" class='img-fluid'>  </center>
                        <a href="{% url 'post-detail' post.pk %} "><a style = "color:  #ffbecf"><b> {{ post }}</b>
                        </h4></a>
                        <p class="card-text">{{post.description}}</p>
                        <b> Autor :</b> {{ post.author }}
                        <p class="card-subtitle">Categoria: {{ post.category }} </p>

                    
                
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <center><a href="{% url 'post-detail' post.pk %} "> 
                          <button  type="button" class="btn btn-sm ">Ler mais</button></a></center>

                      </div>

                    </div>
                  </div>
                </div>
              </div>   
            </div>
       <style>

      </style>